<h1><%= @machine.location %> Vending Machine</h1>

<%= @machine.snacks.each do |snack| %>
  <section id='snack-<%= snack.id %>'>
    <li><%= snack.name %>: <%= snack.price %></li>
  </section>
<% end %>
<p>Average Price: $<%= @machine.average_price %></p>
